DJANGO_SETTINGS_MODULE="intbot.settings"
DJANGO_ENV="prod"

# Change this on production
SECRET_KEY="asdf-asdf-asdf-1234-1234-1234"

# Database settings
POSTGRES_DB="intbot_database_prod"
POSTGRES_USER="intbot_user_prod"
POSTGRES_PASSWORD="RandomPasswordPleaseChange"

# Discord
DISCORD_BOT_TOKEN="Token Goes Here"
DISCORD_TEST_CHANNEL_ID="123123123123123123123123"
DISCORD_TEST_CHANNEL_NAME="#test-channel"


# Webhooks
WEBHOOK_INTERNAL_TOKEN="asdf"
