DJANGO_SETTINGS_MODULE="intbot.settings"
DJANGO_ENV="prod"

# Change this on production
SECRET_KEY="asdf-asdf-asdf-1234-1234-1234"

# Database settings
POSTGRES_DB="intbot_database_prod"
POSTGRES_USER="intbot_user_prod"
POSTGRES_PASSWORD="RandomPasswordPleaseChange"

# Discord
DISCORD_BOT_TOKEN="Token Goes Here"
DISCORD_TEST_CHANNEL_ID="123123123123123123123123"
DISCORD_TEST_CHANNEL_NAME="#test-channel"
DISCORD_BOARD_CHANNEL_ID="DISCORD_BOARD_CHANNEL_ID"
DISCORD_BOARD_CHANNEL_NAME="DISCORD_BOARD_CHANNEL_NAME"
DISCORD_EP2025_CHANNEL_ID="DISCORD_EP2025_CHANNEL_ID"
DISCORD_EP2025_CHANNEL_NAME="DISCORD_EP2025_CHANNEL_NAME"
DISCORD_EM_CHANNEL_ID="DISCORD_EM_CHANNEL_ID"
DISCORD_EM_CHANNEL_NAME="DISCORD_EM_CHANNEL_NAME"
DISCORD_WEBSITE_CHANNEL_ID="DISCORD_WEBSITE_CHANNEL_ID"
DISCORD_WEBSITE_CHANNEL_NAME="DISCORD_WEBSITE_CHANNEL_NAME"
DISCORD_BOT_CHANNEL_ID="DISCORD_BOT_CHANNEL_ID"
DISCORD_BOT_CHANNEL_NAME="DISCORD_BOT_CHANNEL_NAME"

# Webhooks
WEBHOOK_INTERNAL_TOKEN="asdf"

# Github
GITHUB_API_TOKEN="github-api-token-goes-here"
GITHUB_WEBHOOK_SECRET_TOKEN="github-webhook-secret-token"

GITHUB_BOARD_PROJECT_ID="GITHUB_BOARD_PROJECT_ID"
GITHUB_EP2025_PROJECT_ID="GITHUB_EP2025_PROJECT_ID"
GITHUB_EM_PROJECT_ID="GITHUB_EM_PROJECT_ID"
