MAKE_APP=docker compose run app make

echo:
	"Dummy target, to not run something accidentally"

prod/migrate:
	$(MAKE_APP) in-container/migrate

prod/shell:
	$(MAKE_APP) in-container/shell

prod/db_shell:
	$(MAKE_APP) in-container/db_shell

prod/manage:
	$(MAKE_APP) in-container/manage ARG=$(ARG)

prod/cron/pretalx:
	$(MAKE_APP) in-container/manage ARG="download_pretalx_data --event=europython-2025"

logs:
	docker compose logs -f
